
out

*.iml
*.ipr
*.iws
*.class

.idea/
classes/
target/
tmp/
classes/
.settings/

.DS_Store
.project
.classpath
local.properties

TWInOutTest/bin/
TWInOut/bin/

TWInOut/*.classpath
TWInOut/*.project
TWInOut/.settings
TWInOut/classes/**/*.class

TWInOutTest/*.classpath
TWInOutTest/*.project
TWInOutTest/.settings
TWInOutTest/classes/**/*.class
